{
    "printWidth": 80,
    "tabWidth": 2,
    "semi": true,
    "importOrder": [
      "^@core/(.*)$",
      "<THIRD_PARTY_MODULES>",
      "^@server/(.*)$",
      "^@ui/(.*)$",
      "^(assets|components)",
      "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true
  }
  